{% load static from staticfiles %}

<!DOCTYPE html>

<html>

<head>
    <title>notif.py</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_32-vflOogEID.png" sizes="32x32">
    <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_48-vflVjB_Qk.png" sizes="48x48">
    <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_96-vflW9Ec0w.png" sizes="96x96">
    <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_144-vfliLAfaB.png" sizes="144x144">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'notifpy/style.css' %}" />
</head>

<body>
    <div class="sidebar">
        <div class="menu">
            <div class="icon-title">
                <img src="https://s.ytimg.com/yts/img/favicon_32-vflOogEID.png" />
                <h3>Notif.py</h3>
            </div>
            <a class="menu__link" href="{% url 'home' %}">
                &rsaquo;Home
            </a>
            <a class="menu__link" href="{% url 'library' %}">
                &rsaquo;Library
            </a>
            <br>
            <a class="menu__link" href="{% url 'create_channel' %}">
                &rsaquo;Add channel
            </a>
            <a class="menu__link" href="{% url 'admin:index' %}">
                &rsaquo;Admin
            </a>
        </div>
    </div>
    <div class="wrapper">
    {% block body %}
    {% endblock %}
    </div>
</body>

</html>
