{% extends 'notifpy/base.html' %}
{% load static from staticfiles %}

{% block body %}
    <h1>Edit Playlist '{{playlist.title}}'</h1>
    <div class="command-panel">
        <a class="command__button" href="{% url 'delete_playlist' slug=playlist.slug %}">Delete</a>
    </div>
    <h3>Edit playlist properties</h3>
    <form method="post" action="" class="form--table">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <input type="submit" value="Save" />
    </form>
    <h3>Add a video</h3>
    <form method="post" action="{% url 'add_playlist' slug=playlist.slug %}" class="form--block">
        <input type="text" name="video" placeholder="Video link or ID" />
        {% csrf_token %}
        <input type="submit" value="Add" />
    </form>
    <h3>Edit videos</h3>
    <div class="gallery--list">
        {% if playlist.videos.all %}
            {% for video in playlist.videos.all %}
            <div class="video relative">
                <img class="video__thumbnail" src="{{ video.thumbnail }}" width=160 height=90 />
                <div class="video__info">
                    <p class="video__title">{{ video.title | safe }}</p>
                    <p class="video__description">
                        {{ video.channel.title | safe }}
                        &middot;
                        {{ video.time }}
                    </p>
                </div>
                <form method="post" class="form--float" action="{% url 'remove_playlist' slug=playlist.slug %}" >
                    <input hidden name="id" value="{{video.id}}" />
                    {% csrf_token %}
                    <input type="submit" value="Delete" />
                </form>
            </div>
            {% endfor %}
        {% else %}
            <p>No video in this playlist.</p>
        {% endif %}
    </div>
{% endblock %}
