{% extends 'notifpy/base.html' %}
{% load static from staticfiles %}

{% block body %}
    <a href="{% url 'channel' slug=channel.slug %}">
        <div class="icon-title">
            <img class="channel__thumbnail" src="{{channel.thumbnail}}" />
            <h1>{{channel.title}}</h1>
        </div>
    </a>
    <h3>Edit channel properties</h3>
    <form method="post" action="" class="form--table">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Save" />
    </form>
    <h3>Edit channel filters</h3>
    <h4>Current filters</h4>
    {% if channel.filter_set.all %}
        {% for filter in channel.filter_set.all %}
        <form method="post" action="{% url 'delete_filter' %}" class="form--block">
            <input disabled type="text" value="{{filter.regex}}" />
            {% csrf_token %}
            <input hidden name="id" value="{{filter.id}}" />
            <input type="submit" value="Delete"/>
        </form>
        {% endfor %}
    {% else %}
        <p>
            No filter found for this channel.
        </p>
    {% endif %}
    <h4>Add a filter</h4>
    <form method="post" action="{% url 'create_filter' %}" class="form--table">
        {% csrf_token %}
        <input hidden name="channel" value={{channel.id}} />
        <table>
            <tr>
                <td><textarea name="regexes" rows="8" placeholder="Add one filter per line"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Add" />
    </form>
{% endblock %}
