input, textarea, select {
    font-size: inherit;
    font-family: inherit;
    padding: 8px;
    border: none;
    background: #202020;
    color: white;
    min-width: 0;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    cursor: pointer;
    transition: .1s ease;
}

input[type="submit"]:hover {
    color: black;
    background-color: white;
}

.form--filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form--filter label {
    background-color: #232323;
    padding: 8px;
    font-family: Consolas, monospace;
    border-radius: 4px 0 0 4px;
}

.form--filter input {
    width: auto;
    border-radius: 0 4px 4px 0;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.grid>* {
    margin-right: 4px;
}

.grid>*:last-child {
    margin-right: 0;
}
