html, body {
    height: 100%;
}

.fullheight_padding {
    height: 16px;
}

.body_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto 0 auto;
    background-color: #2F2F2F;
    padding: 0 16px 0 16px;
    min-height: 100vh;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1);
}

.header {}

.header--inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__title {
    font-weight: bold;
}

.header__nav {
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar>* {
    margin-left: 8px;
    margin-right: 8px;
}

.navbar>*:first-child {
    margin-left: 0px;
}

.navbar>*:last-child {
    margin-right: 0px;
}

.button, a.button {
    cursor: pointer;
    min-width: 100px;
    transition: .1s ease;
    background-color: white;
    color: #2F2F2F;
    padding: 8px;
    text-align: center;
}

.button:hover, .button:focus, a.button:hover, a.button:focus {
    background-color: #F0F0F0;
    text-decoration: none;
}

body {
    color: #EEE;
    background-color: #202020;
    background-image: url("../imagedoc-darknoise.png");
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}

h1 {
    font-size: 32px;
}

h1, h2 {
    font-weight: 600;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h3, h4 {
    font-weight: 600;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h5, h6 {
    font-weight: 600;
}

h6 {
    font-size: 12px;
}

header a {
    color: white;
}

a {
    color: #61BFC1;
    text-decoration: none;
    vertical-align: baseline;
}

a:hover {
    text-decoration: underline;
}

.icon-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon-title>h1 {
    margin-left: 12px;
}

.icon-title>h2 {
    margin-left: 6px;
}

.icon-title>h3 {
    margin-left: 4px;
}

.vertical_command_pannel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    margin-right: 8px;
}

.vertical_command_pannel > form > input {
    margin: 0;
    border-radius: 0;
    padding: 4px;
}

.vertical_command_pannel > form:first-child > input {
    border-radius: 4px 4px 0 0;
}

.vertical_command_pannel > form:last-child > input {
    border-radius: 0 0 4px 4px;
}

.vertical_command_pannel input {
    width: 100%;
}

.command-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}

.command-panel >* {
    width: 100%;
    margin-right: 16px;
}

.command-panel>*:last-child {
    margin-right: 0;
}

.command__button {
    background-color: #202020;
    border-radius: 4px;
    color: white;
    padding: 8px;
    transition: .1s ease;
    text-align: center;
}

.command__button:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

.stream_banner {
    margin: 8px 0 8px 0;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: .2s ease;
    max-height: 0;
    opacity: 0;
}


.stream_banner--expanded {
    max-height: 150px;
    margin: 20px 0 20px 0;
    opacity: 1;
}

.stream_banner>* {
    margin-right: 9px;
}

.stream_banner>*:last-child {
    margin-right: 0;
}

.channel__thumbnail {
    width: 40px;
    height: 42px;
    border-radius: 50% 50%;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip__div  {
    visibility: hidden;
    width: 160px;
    text-align: center;
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 110%;
    left: 50%;
    margin-left: -80px;
    box-shadow: 0 0 10px black;
    border-radius: 4px;
}

.tooltip__div > * {
    display: block;
    padding: 8px;
    color: #fff;
}

.tooltip__user {
    background-color: #3C2762;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tooltip__game {
    background-color: #6441A4;
}

.tooltip__title {
    background-color: #C1B3DB;
    color: black;
}

.tooltip__screen {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 160px;
    height: 90px;
    padding: 0;
}

.tooltip:hover .tooltip__div {
    visibility: visible;
}

.channel_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.channel_list>* {
    margin-right: 16px;
}

.channel_list>*:last-child {
    margin-right: 0;
}

.icon-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
}

.icon-item>* {
    margin-right: 8px;
}

.icon-item>*:last-child {
    margin-right: 0;
}
