html, body {
    height: 100%;
}

.fullheight_padding {
    height: 16px;
}

.body_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto 0 auto;
    background-color: #2F2F2F;
    padding: 0 16px 0 16px;
    min-height: 100vh;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1);
}

.header {}

.header--inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__title {
    font-weight: bold;
}

.header__nav {
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar>* {
    margin-left: 8px;
    margin-right: 8px;
}

.navbar>*:first-child {
    margin-left: 0px;
}

.navbar>*:last-child {
    margin-right: 0px;
}

.button, a.button {
    cursor: pointer;
    min-width: 100px;
    transition: .1s ease;
    background-color: white;
    color: #2F2F2F;
    padding: 8px;
    text-align: center;
}

.button:hover, .button:focus, a.button:hover, a.button:focus {
    background-color: #F0F0F0;
    text-decoration: none;
}

body {
    color: #EEE;
    background-color: #202020;
    background-image: url("../imagedoc-darknoise.png");
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}

h1 {
    font-size: 32px;
}

h1, h2 {
    font-weight: 600;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h3, h4 {
    font-weight: 600;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h5, h6 {
    font-weight: 600;
}

h6 {
    font-size: 12px;
}

header a {
    color: white;
}

a {
    color: #61BFC1;
    text-decoration: none;
    vertical-align: baseline;
}

a:hover {
    text-decoration: underline;
}

.icon-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon-title>h1 {
    margin-left: 12px;
}

.icon-title>h2 {
    margin-left: 6px;
}

.icon-title>h3 {
    margin-left: 4px;
}

.vertical_command_pannel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vertical_command_pannel>* {
    margin-bottom: 4px;
}

.vertical_command_pannel>*:last-child {
    margin-bottom: 0;
}

.vertical_command_pannel input {
    width: 100%;
}

.command-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}

.command-panel>*:last-child {
    margin-right: 0;
}

.command__button {
    background-color: #3F3F3F;
    border-radius: 4px;
    color: white;
    padding: 8px;
    margin-right: 8px;
    transition: .2s ease;
}

.command__button:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

.channel-banner {
    margin: 20px 0 20px 0;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.channel-banner>* {
    margin-right: 9px;
}

.channel-banner>*:last-child {
    margin-right: 0;
}

.channel__thumbnail {
    width: 40px;
    height: 42px;
    border-radius: 50% 50%;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip__text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip__image {
    visibility: hidden;
    width: 144px;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 102%;
    left: 50%;
    margin-left: -72px;
}

.tooltip:hover .tooltip__text, .tooltip:hover .tooltip__image {
    visibility: visible;
}

.channel_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.channel_list>* {
    margin-right: 16px;
}

.channel_list>*:last-child {
    margin-right: 0;
}

.icon-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
}

.icon-item>* {
    margin-right: 8px;
}

.icon-item>*:last-child {
    margin-right: 0;
}
