.playlist__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.playlist__icon {
    opacity: .5;
    margin-left: 8px;
    margin-top: 6px;
    transition: .1s ease;
}

.playlist__icon:hover {
    opacity: 1;
}

.playlist__gallery {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.playlist__gallery .video {
    margin-right: 8px;
    min-width: 261px;
}

.playlist__gallery .video:last-of-type {
    margin-right: 0;
}
