.setting {
    margin-bottom: 32px;
}

.setting * {
    box-sizing: border-box;
}

.setting:last-child {
    margin-bottom: 0;
}

.setting__title {
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: normal;
}

.setting__el--inline {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.setting__el--hint {
    color: grey;
    font-size: 14px;
    margin: 4px 0 4px 0;
}

.setting__el--inline__item {
    margin: 0 8px 0 0;
    width: 100%;
    border-radius: 0;
}

.setting__el--inline__item:last-child {
    margin-right: 0;
}

.setting__el__border--first {
    border-radius: 4px 0 0 4px;
}

.setting__el__border--last {
    border-radius: 0 4px 4px 0;
}

.setting__el--inline--fixed_height {
    height: 37px;
}

.setting__el--inline--fixed_height > .setting__el--inline__item {
    height: 100%;
}

.setting__el--inline__item--submit {
    flex: 0 0 100px;
}

.labeled_input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.labeled_input label {
    color: #AAA;
    font-size: 14px;
    margin: 4px 0 4px 0;
    display: block;
}

.labeled_input input, .labeled_input select {
    display: block;
    height: 37px;
}
