* {
    font-family: Roboto;
    color: white;
}

body {
    background-color: #2F2F2F;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper {
    margin-top: 16px;
    width: 657px;
}

.sidebar {
    width: 150px;
}

.menu {
    position: fixed;
}

.menu__link  {
    display: block;
    color: lightgrey;
    font-weight: bold;
    margin-bottom: 4px;
    transition: .1s ease;
}

.menu__link:hover {
    color: white;
    text-decoration: none;
}

input, select, textarea, select option {
    color: black;
    border: none;
}

input, select, textarea {
    padding: 4px;
}

input[type="submit"] {
    cursor: pointer;
    transition: .1s ease;
}

input[type="submit"]:hover {
    background-color: lightgrey;
}

.form--table {
    margin-top: 16px;
    margin-bottom: 16px;
}

.form--table table {
    width: 100%;
}

.form--table td {
    display: flex;
    flex-direction: row;
}

.form--table td > * {
    width: 100%;
}

.form--table input[type="submit"] {
    display: block;
    margin: auto;
}

.form--table input[type="submit"] {
    border-radius: 4px;
}

.form--float {
    position: absolute;
    top: 4px;
    right: 4px;
}

.form--float input[type="submit"] {
    border-radius: 4px;
}

.form--inline {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.form--inline > * {
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

.form--inline > span {
    line-height: 32px;
}

.form--inline > *:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 1px solid lightgrey;
}

.form--block {
    display: flex;
    flex-direction: row;
}

.form--block > *{
    border-radius: 0;
}

.form--block > *:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.form--block > *:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 1px solid lightgrey;
}

.channel__thumbnail {
    width: 32px;
    height: 32px;
    border-radius: 50% 50%;
}

.gallery {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.playlist__gallery {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.playlist__gallery .video {
    margin-right: 8px;
}

.playlist__gallery .video:last-of-type {
    margin-right: 0;
}

.monospace {
    font-family: Courier;
    background-color: #3F3F3F;
    border-radius: 4px;
    padding: 4px;
}

.gallery--list {

}

.gallery--list .video {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.gallery--list .video > * {
    margin-right: 8px;
}

.gallery--list .video > *:last-child {
    margin-right: 0;
}

.video {
    width: 213px;
    margin: 0 0 6px 0;
}

.video__title {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 110%;
}

.video__description, .video__description * {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 14px;
    color: lightgrey;
}

.video__thumbnail {
    width: 213px;
    height: 120px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

a {
    text-decoration: None;
}

a:hover {
    text-decoration: underline;
}

a.image-link:hover {
    text-decoration: none;
}

.icon-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon-title > h1 {
    margin-left: 12px;
}

.icon-title > h2 {
    margin-left: 6px;
}

.icon-title > h3 {
    margin-left: 4px;
}

.command-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}

.command-panel > *:last-child {
    margin-right: 0;
}

.command__button {
    background-color: #3F3F3F;
    border-radius: 4px;
    color: white;
    padding: 8px;
    margin-right: 8px;
    transition: .2s ease;
}

.command__button:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

.channel-banner {
    margin-bottom: 16px;
}

.playlist__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.playlist__icon {
    opacity: .5;
    margin-left: 8px;
    margin-top: 6px;
}

.relative {
    position: relative;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 24px;
}
