{% extends 'notifpy/base.html' %}
{% load static from staticfiles %}

{% block body %}

<h1>Welcome to Notifpy!</h1>

<h2>What is it?</h2>

<p>
    It is a <a href="https://www.djangoproject.com/">Django</a> application,
    whose purpose is to mimic the features of a
    <a class="emph" href="https://www.youtube.com/">YouTube</a> and a
    <a class="emph" href="https://www.twitch.tv/">Twitch</a> accounts,
    in terms of subscriptions, follows, and playlist management. It is
    open-source, more precisely developped under the MIT License. You can find
    the source code on GitHub (check out this repository:
    <a href="https://github.com/ychalier/notifpy">https://github.com/ychalier/notifpy</a>).
</p>

<p>
    Its purpose is the preservation of privacy without the cost of practicality,
    by allowing users to still follow content creators without having to rely
    on YouTube or Twitch recommandation system. <b>This is a way of remaining
        in control of what one's see.</b>
</p>

<p>
    On desktop, it combines greatly with incognito navigation. On Android,
    applications such as
    <a class="emph" href="https://vanced.app/">YoutTube Vanced</a>
    are fitted to be used with Notifpy. Similar applications for Twitch exist
    but are not advanced enough for it to be used on a regular basis.
    In both cases, remember to maintain an empty cache to get rid of history and
    recommandations.
</p>

<h2>Install it for yourself!</h2>

<p>
    Check out the <a href="https://github.com/ychalier/notifpy">repository</a>,
    it has <a href="https://github.com/ychalier/orgapy/notifpy">releases</a>
    with <code>.tar.gz</code> attached files, one per released version.
    Download the latest one, and install it to your Python environment. Then add
    <code>"notifpy"</code> to the <code>INSTALLED_APPS</code> of your
    Django project, migrate the database, update your URLs, and voilà!
</p>

{% endblock %}
