{% extends 'piweb/single_column.html' %}

{% load static %}


{% block title %}Notifpy{% endblock %}

{% block head %}
{{ block.super }}
<link rel="icon" href="{% static 'notifpy/logo/32.png' %}" sizes="32x32" />
<link rel="icon" href="{% static 'notifpy/logo/48.png' %}" sizes="48x48" />
<link rel="icon" href="{% static 'notifpy/logo/96.png' %}" sizes="96x96" />
<link rel="icon" href="{% static 'notifpy/logo/144.png' %}" sizes="144x144" />
<link rel="stylesheet" href="{% static 'notifpy/css/notifpy.css' %}" />
{% endblock head %}

{% block body_class %}dark{% endblock body_class %}

{% block navbar %}
<section class="navbar-section">
    <a href="{% url 'notifpy:abstract' %}" class="navbar-brand mr-2">Notifpy</a>
    <a href="{% url 'notifpy:home' %}" class="btn btn-link">Home</a>
    <a href="{% url 'notifpy:playlists' %}" class="btn btn-link">Playlists</a>
</section>
<section class="navbar-section">
    {% if request.user.is_superuser %}
    <a href="{% url 'notifpy:settings' %}" class="btn btn-link" title="Settings"><i class="icon icon-gear"></i></a>
    {% endif %}
    <a href="{% url 'notifpy:subscriptions' %}" class="btn btn-link" title="Subscriptions"><i class="icon icon-subscriptions"></i></a>
    {% include 'piweb/user_icon.html' %}
</section>
{% endblock navbar %}

{% block body_scripts %}
<script type="text/javascript" src="{% static 'notifpy/js/thumbnail.js'%}"></script>
{% endblock body_scripts %}
