{% load static from staticfiles %}

<!DOCTYPE html>

<html>

<head>
    <title>{% block title %}notif.py{% endblock %}</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'notifpy/logo/32.png' %}" sizes="32x32">
    <link rel="icon" href="{% static 'notifpy/logo/48.png' %}" sizes="48x48">
    <link rel="icon" href="{% static 'notifpy/logo/96.png' %}" sizes="96x96">
    <link rel="icon" href="{% static 'notifpy/logo/144.png' %}" sizes="144x144">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'notifpy/css/layout.css' %}" />
    <link rel="stylesheet" href="{% static 'notifpy/css/utils.css' %}" />
    <link rel="stylesheet" href="{% static 'notifpy/css/video.css' %}" />
    <link rel="stylesheet" href="{% static 'notifpy/css/forms.css' %}" />
    <link rel="stylesheet" href="{% static 'notifpy/css/playlist.css' %}" />
    <link rel="stylesheet" href="{% static 'notifpy/css/responsive.css' %}" />
</head>

<body>
    <div class="sidebar">
        <div class="menu">
            <a href="{% url 'notifpy:abstract' %}">
                <div class="icon-title">
                    <img src="{% static 'notifpy/logo/32.png' %}" />
                    <h3>notif.py</h3>
                </div>
            </a>
            <div class="menu__category">
                <p class="menu__category__title">
                    View
                </p>
                <a class="menu__link" href="{% url 'notifpy:home' %}">
                    Home
                </a>
                <a class="menu__link" href="{% url 'notifpy:youtube' %}">
                    YouTube
                </a>
                <a class="menu__link" href="{% url 'notifpy:twitch' %}">
                    Twitch
                </a>
            </div>
            <div class="menu__category">
                <p class="menu__category__title">
                    Settings
                </p>
                <a class="menu__link" href="{% url 'notifpy:settings' %}">
                    General
                </a>
                <a class="menu__link" href="{% url 'notifpy:manage_endpoints' %}">
                    Endpoints
                </a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>
