{% extends 'notifpy/base.html' %}
{% load static %}

{% block title %}{{channel.title}} | Notifpy{% endblock%}

{% block body %}
<div class="icon-title">
    <img class="channel__thumbnail" src="{{channel.thumbnail}}" />
    <h1>{{channel.title}}</h1>
</div>

<div>
    Last update on {{channel.last_update}}
</div>

<div class="command-panel">
    <a class="command__button" href="{% url 'notifpy:edit_channel' slug=channel.slug %}">Edit</a>
    <a class="command__button" href="{% url 'notifpy:delete_channel' slug=channel.slug %}">Delete</a>
    <a class="command__button" href="{% url 'notifpy:update_channel' slug=channel.slug %}">Update</a>
</div>

<h2>Last videos</h2>
{% if videos %}
<div class="gallery">
    {% for video in videos %}
    {% include "notifpy/video.html" %}
    {% endfor %}
</div>
{% else %}
<p>No video found for this channel.</p>
{% endif %}
{% endblock %}
