{% extends 'notifpy/base.html' %}
{% load static %}

{% block title %}{{channel.title}} | Notifpy{% endblock%}

{% block body %}
<div class="icon-title">
    <img class="channel__thumbnail" src="{{channel.thumbnail}}" />
    <h1>{{channel.title}}</h1>
</div>
<table>
    <tr>
        <td><b>Channel ID</b></td>
        <td><a href="https://www.youtube.com/channel/{{channel.id}}/videos">{{channel.id}}</a></td>
    </tr>
    <tr>
        <td><b>Playlist</b></td>
        <td><a href="https://www.youtube.com/playlist?list={{channel.playlist_id}}">{{channel.playlist_id}}</a></td>
    </tr>
    <tr>
        <td><b>Priority</b></td>
        <td>{{channel.priority_label}}</td>
    </tr>
    <tr>
        <td><b>Filters</b></td>
        <td>
            {% if channel.filter_set.all %}
            {% for filter in channel.filter_set.all %}
            <span class="monospace">{{filter.regex}}</span>
            {% endfor %}
            {% else %}
            None
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><b>Last update</b></td>
        <td>{{channel.last_update}}</td>
    </tr>
</table>
<div class="command-panel">
    <a class="command__button" href="{% url 'notifpy:edit_channel' slug=channel.slug %}">Edit</a>
    <a class="command__button" href="{% url 'notifpy:delete_channel' slug=channel.slug %}">Delete</a>
    <a class="command__button" href="{% url 'notifpy:update_channel' slug=channel.slug %}">Update</a>
</div>
<h2>Last videos</h2>
{% if videos %}
<div class="gallery">
    {% for video in videos %}
    <div class="video">
        <a href="https://www.youtube.com/watch?v={{ video.id }}">
            <img class="video__thumbnail" src="{% static 'notifpy/default-thumbnail.svg' %}" true_src="{{ video.thumbnail }}" />
        </a>
        <p class="video__title">
            <a href="https://www.youtube.com/watch?v={{ video.id }}">{{ video.title | safe }}</a>
        </p>
        <p class="video__description">
            <a href="{% url 'notifpy:channel' slug=channel.slug %}">{{ channel.title | safe }}</a>
            &middot;
            {{ video.time }}
        </p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No video found for this channel.</p>
{% endif %}
{% endblock %}
