{% extends 'notifpy/base.html' %}
{% load static %}

{% block body %}
<div class="channel-banner">
    {% if streams %}
    {% for stream in streams %}
    <a class="image-link tooltip" href="{{stream.user.link}}">
        <img class="channel__thumbnail" src="{{stream.user.thumbnail}}" alt={{stream.user_name}} />
        {% if stream.game %}
        <span class="tooltip__text">{{stream.game.name}}</span>
        {% endif %}
    </a>
    {% endfor %}
    {% else %}
    <p>No Twitch live on.</p>
    {% endif %}
</div>

{% if videos %}
<div class="gallery">
    {% for video in videos %}
    <div class="video">
        <a href="https://www.youtube.com/watch?v={{ video.id }}"><img class="video__thumbnail" src="{% static 'notifpy/default-thumbnail.svg' %}" true_src="{{ video.thumbnail }}" /></a>
        <p class="video__title">
            <a href="https://www.youtube.com/watch?v={{ video.id }}">{{ video.title | safe }}</a>
        </p>
        <p class="video__description">
            <a href="{% url 'notifpy:channel' slug=video.channel.slug %}">{{ video.channel.title | safe }}</a>
            &middot;
            {{ video.time }}
        </p>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if videos.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ videos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ videos.number }} of {{ videos.paginator.num_pages }}.
        </span>

        {% if videos.has_next %}
        <a href="?page={{ videos.next_page_number }}">next</a>
        <a href="?page={{ videos.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>No videos to show.</p>
{% endif %}

{% endblock %}
