{% extends 'notifpy/base.html' %}
{% load static %}

{% block title %}Home &mid; {{ block.super }}{% endblock %}

{% block main_content %}

<template id="template--stream--old">
    <a class="image-link tooltip">
        <img class="channel__thumbnail" />
        <span class="tooltip__div">
            <span class="tooltip__user"></span>
            <span class="tooltip__game"></span>
            <span class="tooltip__title"></span>
            <img class="tooltip__screen" />
        </span>
    </a>
</template>

<template id="template--stream">
    <div class="popover popover-bottom">
        <figure class="avatar avatar-lg m-1">
            <a><img /></a>
        </figure>
        <div class="popover-container">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" />
                </div>
                <div class="card-header">
                    <div class="card-title h5"></div>
                    <div class="card-subtitle text-gray"></div>
                </div>
                <div class="card-body"></div>
                <div class="card-footer text-gray">
                    <i class="icon icon-people"></i> <span class="viewer-count"></span>
                    &middot;
                    <i class="icon icon-time"></i> <span class="started-at"></span>
                </div>
            </div>
        </div>
    </div>
</template>


<div class="card my-2">
    <div class="card-body">
        <div id="stream_list"><span class="message">Waiting for Twitch lookup...</span></div>
    </div>
</div>



{% if videos %}
<div class="columns">
    {% for video in videos %}
    <div class="column col-4 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 my-2">
        {% include "notifpy/video.html" %}
    </div>
    {% endfor %}
</div>

{% include "piweb/pagination.html" with paginator=video_paginator %}

{% else %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-4x icon-video-library"></i>
    </div>
    <p class="empty-title h5">No videos to show</p>
    <p class="empty-subtitle">You are probably not subscribed to any channel. Click the button below to add one.</p>
    <div class="empty-action">
        <a class="btn btn-primary" href="{% url 'notifpy:subscriptions' %}">Subscriptions</a>
    </div>
</div>
{% endif %}

{% endblock main_content %}

{% block body_scripts %}
{{ block.super }}
<script type="text/javascript">
    var STREAMS_ROUTE = "{% url 'notifpy:twitch_streams_api' %}";
</script>
<script type="text/javascript" src="{% static 'notifpy/js/streams.js' %}"></script>
{% endblock %}
