{% extends 'notifpy/base.html' %}
{% load static from staticfiles %}

{% block body %}

{% if title %}
<h1>Operation: {{title}}</h1>
{% else %}
<h1>Operation information</h1>
{% endif %}

<h3>Input</h3>

{% if input %}
<pre>{{input}}</pre>
{% else %}
<p>None.</p>
{% endif %}

<h3>Output</h3>

{% if output %}
<pre>{{output}}</pre>
{% else %}
<p>None.</p>
{% endif %}

<br>

<p>
    {% if next %}
    <a class="command__button" href="{{next}}">Continue</a>
    {% else %}
    <a class="command__button" href="{% url 'notifpy:home' %}">Return to the homepage.</a>
    {% endif %}
</p>

{% endblock %}
