{% extends 'notifpy/base.html' %}
{% load static %}

{% block title %}Playlists | Notifpy{% endblock%}

{% block body %}
<h1>Playlists</h1>

<div class="command-panel">
    <a class="command__button" href="{% url 'notifpy:create_playlist' %}">Add Playlist</a>
</div>
{% if playlists %}
{% for playlist in playlists %}
<div class="playlist">
    <div class="playlist__header">
        <a href="{% url 'notifpy:playlist' slug=playlist.slug %}"><h3>{{ playlist.title }}</h3></a>
        <a href="{{playlist.url_ranked}}"><img class="playlist__icon" src="{% static 'notifpy/icons/play.svg' %}" /></a>
        <a href="{{playlist.url_shuffled}}"><img class="playlist__icon" src="{% static 'notifpy/icons/random.svg' %}" /></a>
    </div>
    <div class="playlist__gallery">
        {% if playlist.videos.all %}
        {% for video in playlist.videos.all %}
        {% include "notifpy/video.html" %}
        {% endfor %}
        {% else %}
        <p>No video in this playlist.</p>
        {% endif %}
    </div>
</div>
{% endfor %}
{% else %}
<p>No playlist found.</p>
{% endif %}

{% endblock %}
