{% extends 'notifpy/base.html' %}
{% load static %}

{% block title %}{{playlist.title}} | Notifpy{% endblock%}

{% block body %}
<h1>{{playlist.title}}</h1>
<div class="command-panel">
    <a class="command__button" href="{% url 'notifpy:edit_playlist' slug=playlist.slug %}">Edit</a>
    <a class="command__button" href="{% url 'notifpy:delete_playlist' slug=playlist.slug %}">Delete</a>
    <a href="{{playlist.url_ranked}}"><img class="playlist__icon" src="{% static 'notifpy/icons/play.svg' %}" /></a>
    <a href="{{playlist.url_shuffled}}"><img class="playlist__icon" src="{% static 'notifpy/icons/random.svg' %}" /></a>
</div>
<br>
<div class="gallery--list">
    {% if playlist.videos.all %}
    {% for entry in playlist.get_videos %}
    <div class="video">
        <a href="https://www.youtube.com/watch?v={{ entry.video.id }}">
            <img class="video__thumbnail" src="{{ entry.video.thumbnail }}" />
        </a>
        <div class="video__info">
            <p class="video__title">
                <a href="https://www.youtube.com/watch?v={{ entry.video.id }}">{{ entry.video.title | safe }}</a>
            </p>
            <p class="video__description">
                <a href="{% url 'notifpy:channel' slug=entry.video.channel.slug %}">{{ entry.video.channel.title | safe }}</a>
                &middot;
                {{ entry.video.time }}
            </p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No video in this playlist.</p>
    {% endif %}
</div>
{% endblock %}
