{% extends 'notifpy/base.html' %}
{% load static %}

{% block title %}{{playlist.title}} &mid; {{ block.super }}{% endblock %}

{% block main_content %}

<h1>{{playlist.title}}</h1>

<p id="commands">
    <a class="btn btn-primary" href="{{playlist.url_ranked}}" title="Play in order"><i class="icon icon-play"></i></a>
    <a class="btn btn-primary" href="{{playlist.url_shuffled}}" title="Play shuffled"><i class="icon icon-shuffle"></i></a>
    {% if playlist.owned %}
    {% if playlist.public %}
    <a class="btn btn-primary" href="{% url 'notifpy:publish_playlist' slug=playlist.slug state='private' %}" title="Make private"><i class="icon icon-lock"></i></a>
    {% else %}
    <a class="btn btn-primary" href="{% url 'notifpy:publish_playlist' slug=playlist.slug state='public' %}" title="Make public"><i class="icon icon-unlock"></i></a>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'notifpy:delete_playlist' slug=playlist.slug %}" title="Delete"><i class="icon icon-cross"></i></a>
    {% endif %}
</p>

<div>
    {% if playlist.videos.all %}
    <div class="columns" id="video_list">
        {% for entry in playlist.get_videos %}
        <div class="column col-4 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 my-2 p-relative" db="{{ entry.id }}">
            {% include "notifpy/video.html" with video=entry.video %}
            {% if playlist.owned %}
            <form class="remove-video-button" method="post" action="{% url 'notifpy:remove_playlist' slug=playlist.slug %}">
                <input hidden name="id" value="{{entry.video.id}}" />
                {% csrf_token %}
                <button class="btn" title="Remove video from playlist"><i class="icon icon-cross"></i></button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No video in this playlist.</p>
    {% endif %}
</div>

{% if playlist.owned  %}

<p>
{% if playlist.public %}
<i class="icon icon-unlock" title="The playlist is public."></i> The playlist is public.
{% else %}
<i class="icon icon-lock" title="The playlist is private."></i> The playlist is private.
{% endif %}
</p>

<form action="{% url 'notifpy:edit_playlist' slug=playlist.slug %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label class="form-label" for="input-title">Title</label>
        <div class="input-group">
            <input class="form-input" type="text" name="title" id="input-title" placeholder="Title" value="{{ playlist.title }}" />
            <button class="btn btn-primary input-group-btn">Save</button>
        </div>
    </div>
</form>

<form action="{% url 'notifpy:add_playlist' slug=playlist.slug %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label class="form-label" for="input-add-video">Add a video</label>
        <div class="input-group">
            <textarea class="form-input" id="input-add-video" placeholder="Paste video links here" rows="1" name="video"></textarea>
            <button class="btn btn-primary">Add</button>
        </div>
        <p class="form-input-hint">Write one entry, either a full link or a sole video id, per line.</p>
    </div>
</form>

<form action="{% url 'notifpy:order_playlist' slug=playlist.slug %}" method="POST" id="form-order">
    {% csrf_token %}
    <input type="hidden" name="ordering" />
</form>

{% endif %}

{% endblock %}

{% block body_scripts %}
{{ block.super }}

{% if playlist.owned %}
<script type="text/javascript">
let orderChanged = false;
bindDraggableOrdering(document.getElementById("video_list"), ".column", (dragged) => {
    if (!orderChanged) {
        let button = document.createElement("button");
        button.className = "btn btn-primary";
        button.textContent = "Save ordering";
        document.getElementById("commands").appendChild(button);
        button.addEventListener("click", (event) => {
            let form = document.getElementById("form-order");
            let ordering = "";
            document.querySelectorAll("#video_list > .column").forEach((item) => {
                if (ordering) {
                    ordering += ";";
                }
                ordering += item.getAttribute("db");
            });
            form.querySelector("input[name='ordering']").value = ordering;
            form.submit();
        });
    }
    orderChanged = true;
});
</script>
{% endif %}

{% endblock %}