{% extends 'notifpy/base.html' %}
{% load static from staticfiles %}

{% block body %}
<h1>Quotas</h1>
<div class="command-panel">
    <a class="command__button" href="{% url 'reset_quotas' %}">Reset</a>
    <a class="command__button" href="{% url 'download_quotas' %}">Download</a>
</div>
<p>
    Last 24h: <b>{{daily}}</b>/40,000
</p>
<table>
    <tr>
        <th>Timestamp</th>
        <th>Url</th>
        <th>Parameters</th>
        <th>Cost</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{row.date}}</td>
        <td>{{row.url}}</td>
        <td>{{row.params}}</td>
        <td>{{row.cost}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
