{% extends 'notifpy/base.html' %}
{% load static from staticfiles %}

{% block title %}Settings | notif.py{% endblock%}

{% block body %}

<h1>General Settings</h1>

<hr>

<h3>Subscribe to a YouTube channel</h3>

<p>
    <form class="form--textarea" action="{% url 'notifpy:create_channel' %}" method="POST">
        {% csrf_token %}
        <textarea rows="5" name="query" placeholder="Channel ids (you may put one per line)"></textarea>
        <input type="submit" value="Subscribe" />
    </form>
</p>

<hr>

<h3>Follow a Twitch user</h3>

<p>
    <form class="form--textarea" action="{% url 'notifpy:create_twitch_user' %}" method="POST">
        {% csrf_token %}
        <textarea rows="5" name="query" placeholder="User logins (you may put one per line)"></textarea>
        <input type="submit" value="Follow" />
    </form>
</p>

<hr>

<h3>Edit update schedule</h3>

<p>
    Write space separated update hours for each priority level.
</p>

<form class="form--table" action="{% url 'notifpy:edit_schedule' %}" method="post">
    {%csrf_token%}
    <table>
        <tr>
            <td><label for="input--low">Low priority</label></td>
            <td><input id="input--low" type="text" name="low" value="{{current_schedule.low}}" /></td>
        </tr>
        <tr>
            <td><label for="input--medium">Medium priority</label></td>
            <td><input id="input--medium" type="text" name="medium" value="{{current_schedule.medium}}" /></td>
        </tr>
        <tr>
            <td><label for="input--high">High priority</label></td>
            <td><input id="input--high" type="text" name="high" value="{{current_schedule.high}}" /></td>
        </tr>
    </table>
    <input type="submit" value="Submit" />
</form>

<hr>

<h3>Force update</h3>

<p>
    You may select several priority levels by using CTRL+click.
</p>

<p>
    <form class="form--textarea" action="{% url 'notifpy:update' %}" method="POST">
        {%csrf_token%}
        <select name="priority" multiple="">
            <option value="0">Low</option>
            <option value="1" selected="">Medium</option>
            <option value="2">High</option>
        </select>
        <input type="submit" value="Update" />
    </form>
</p>

<hr>

<h3>Clear old videos</h3>

<p>Delete videos older than:</p>

<form class="form--textarea" action="{% url 'notifpy:clear_old_videos' %}" method="post">
    {%csrf_token%}
    <select name="older">
        <option value="3600">1 hour</option>
        <option value="86400">1 day</option>
        <option value="604800">1 week</option>
        <option value="2592000" selected="">1 month</option>
        <option value="15552000">6 months</option>
    </select>
    <input type="submit" value="Delete" />
</form>

<hr>

{% endblock body %}
