{% extends 'notifpy/base.html' %}
{% load static %}

{% block title %}Subscriptions &mid; {{ block.super }}{% endblock%}

{% block main_content %}

<form action="{% url 'notifpy:create_channel' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label class="form-label">Add a YouTube channel</label>
        <div class="input-group">
            <input type="text" class="form-input" name="query" placeholder="Channel entries"></textarea>
            <button class="btn btn-primary input-group-btn">Add</button>
        </div>
        <p class="form-input-hint">Write one entry, either <code>channel/*</code> or <code>user/*</code>, per line.</p>
    </div>
</form>

<form action="{% url 'notifpy:create_twitch_user' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label class="form-label">Add a Twitch user</label>
        <div class="input-group">
            <input type="text" class="form-input" name="query" placeholder="User logins"></textarea>
            <button class="btn btn-primary input-group-btn">Add</button>
        </div>
        <p class="form-input-hint">Write a user login (as displayed in a Twitch URL).</p>
    </div>
</form>

<form method="POST" action="{% url 'notifpy:subscribe' %}">

    {% csrf_token %}

    <table class="table table-hover table-condensed">
        <tr>
            <th colspan="3">YouTube</th>
        </tr>
        {% for channel in channels %}
        <tr>
            <td><label class="form-switch"><input type="checkbox" name="youtube-{{ channel.id }}" /><i class="form-icon"></i></label></td>
            <td>{% if channel.subscribed %}<i class="icon icon-check text-success" title="You are subscribed to {{ channel.title }}"></i>{% endif %}</td>
            <td class="grow">
                <img src="{{ channel.thumbnail_link }}" alt="{{ channel.title }}" class="avatar avatar-sm" />
                &nbsp;
                <a href="{% url 'notifpy:channel' slug=channel.slug %}" title="View on Notifpy">{{ channel.title }}</a>
                &nbsp;
                <a href="https://www.youtube.com/channel/{{ channel.id }}" title="View on YouTube"><i class="icon icon-external"></i></a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="3">Twitch</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><label class="form-switch"><input type="checkbox" name="twitch-{{ user.id }}" /><i class="form-icon"></i></label></td>
            <td>{% if user.subscribed %}<i class="icon icon-check text-success" title="You are following {{ user.display_name }}"></i>{% endif %}</td>
            <td class="grow">
                <img src="{{ user.thumbnail }}" alt="{{ user.display_name }}" class="avatar avatar-sm" />
                &nbsp;
                <a href="{% url 'notifpy:view_twitch_user' login=user.login %}" title="View on Notifpy">{{ user.display_name }}</a>
                &nbsp;
                <a href="{{ user.link }}/videos" title="View on Twitch"><i class="icon icon-external"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <p>
        <input class="btn btn-primary" type="submit" name="action" value="Subscribe" />
        <input class="btn btn-primary" type="submit" name="action" value="Unsubscribe" />
        <input class="btn btn-primary" type="submit" name="action" value="Remove from history" />
    </p>

</form>

{% endblock main_content %}
