{% extends 'notifpy/base.html' %}
{% load static from staticfiles %}

{% block title %}Twitch | notif.py{% endblock%}

{% block body %}

<h1>Twitch</h1>

<h3>Live</h3>

{% if streams %}
<div class="gallery">
{% for stream in streams %}
    <div class="video tooltip">
        {% if stream.game %}
            <div class="tooltip__image">
                <img class="twitch_thumbnail" src="{{stream.game.thumbnail}}" alt="{{stream.game.name}}" />
            </div>
        {% endif %}
        <a href="{{stream.user.link}}">
            <img class="video__thumbnail" src="{{ stream.thumbnail }}" width=160 height=90 />
        </a>
        <p class="video__title">
            <a href="{{stream.user.link}}">
                {{ stream.user_name | safe }}
            </a>
            {% if stream.game %}
                &middot;
                <a href="https://www.twitch.tv/directory/game/{{stream.game.name}}">
                    {{ stream.game.name | safe }}
                </a>
            {% endif %}
        </p>
        <p class="video__description">
            <a href="{{stream.user.link}}">
                {{ stream.title | safe }}
            </a>
            &middot;
            {{ stream.viewer_count }}
        </p>
    </div>
{% endfor %}
</div>
{% else %}
<p>No user is currently live.</p>
{% endif %}

<h3>Followed</h3>

{% if users %}
{% for user in users %}
<div class="icon-item">
    <img class="channel__thumbnail" src="{{user.thumbnail}}" alt={{user.display_name}} />
    <a href="{{user.link}}">{{user.display_name}}</a>
    <a class="command__button" href="{% url 'notifpy:delete_twitch_user' login=user.login%}">Unfollow</a>
</div>
{% endfor %}
{% else %}
<p>You are not following any user.</p>
{% endif %}

{% endblock body %}
