{% extends 'notifpy/base.html' %}
{% load static from staticfiles %}

{% block title %}Twitch | Notifpy{% endblock%}

{% block body %}

<h1>Twitch</h1>

<h2>Live</h2>

{% if streams %}
<div class="gallery">
    {% for stream in streams %}
    <div class="video stream tooltip">
        <a href="{{stream.user.link}}">
            <img class="video__thumbnail" src="{{ stream.thumbnail }}" />
            <img class="stream__game" src="{{stream.game.thumbnail}}" alt={{stream.game.name}} />
        </a>
        <p class="video__title">
            <a href="{{stream.user.link}}">
                {{ stream.user_name | safe }}
            </a>
            {% if stream.game %}
            &middot;
            <a href="https://www.twitch.tv/directory/game/{{stream.game.name}}">
                {{ stream.game.name | safe }}
            </a>
            {% endif %}
        </p>
        <p class="video__description">
            <a href="{{stream.user.link}}">
                {{ stream.title | safe }}
            </a>
            &middot;
            {{ stream.viewer_count }}
        </p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No user is currently live.</p>
{% endif %}

<h2>Followed</h2>

{% if users %}
<div class="channel_list">
    {% for user in users %}
    <div class="icon-item">
        <img class="channel__thumbnail" src="{{user.thumbnail}}" alt={{user.display_name}} />
        <a href="{{user.link}}">{{user.display_name}}</a>
        <a href="{% url 'notifpy:delete_twitch_user' login=user.login%}">✕</a>
    </div>
    {% endfor %}
</div>
{% else %}
<p>You are not following any user.</p>
{% endif %}

{% endblock body %}
