{% load static %}

<div class="video">
    <div class="video__thumbnail">
        <a class="video__link" href="https://www.youtube.com/watch?v={{ video.id }}">
            <img class="video__thumbnail__background" src="{% static 'notifpy/default-thumbnail.svg' %}" true_src="{{ video.thumbnail }}" />
        </a>
    </div>
    <div class="video__information">
        <div class="video__title">
            <a href="https://www.youtube.com/watch?v={{ video.id }}">{{ video.title | safe }}</a>
        </div>
        <div class="video__description">
            <a href="{% url 'notifpy:channel' slug=video.channel.slug %}">{{ video.channel.title | safe }}</a> &middot; {{ video.time }}
        </div>
    </div>
</div>
