{% load static %}

<div class="video">
    <a class="video__thumbnail__wrapper" href="https://www.youtube.com/watch?v={{ video.id }}">
        <img class="video__thumbnail" src="{% static 'notifpy/default-thumbnail.svg' %}" true_src="{{ video.thumbnail }}" />
    </a>
    <p class="video__title">
        <a href="https://www.youtube.com/watch?v={{ video.id }}">{{ video.title | safe }}</a>
    </p>
    <p class="video__description">
        <a href="{% url 'notifpy:channel' slug=video.channel.slug %}">{{ video.channel.title | safe }}</a>
        &middot;
        {{ video.time }}
    </p>
</div>
